<title>Login</title>

<div class="banner-auth">
    <div class="login d-flex-100">
        <form class="d-flex-center" method="POST" action="/vault/login">
            <div class="form-control d-flex-center">
                <input placeholder="Seu usuário..." type="text" name="user" id="user">
            </div>
            <div class="form-control d-flex-center">
                <input placeholder="Sua senha..." type="password" name="password" id="password">
            </div>

            <input type="submit" value="Entrar">

            <div class="register-span">
                <span>Não tem login?  <a href="/vault/register">Cadastrar-se</a></span>
               
            </div>
        </form>
    </div>
</div>