<header class="d-flex">
  <nav class="menu-desktop">
    <ul class="d-flex">
      <li>
        <a href="">
          <i class="bi bi-cash-coin"></i>
          Conta
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-graph-up-arrow"></i>
          Receitas
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-graph-down-arrow"></i>
          Despesas
        </a>
      </li>
      <li>
        <a href="/">
          <i class="bi bi-box-arrow-right"></i>
          Sair
        </a>
      </li>
    </ul>
  </nav>
</header>