<header class="d-flex">
  <nav class="menu-desktop">
    <ul class="d-flex">
      <li>
        <a href="" id="btn-open-modal">
          <i class="bi bi-cash-coin"></i>
          Conta
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-graph-up-arrow"></i>
          Receitas
        </a>
      </li>
      <li>
        <a href="">
          <i class="bi bi-graph-down-arrow"></i>
          Despesas
        </a>
      </li>
      <li>
        <a href="/">
          <i class="bi bi-box-arrow-right"></i>
          Sair
        </a>
      </li>
    </ul>
  </nav>
</header>

<div id="modal-account" class="modal-account d-flex-center" >
  <div class="modal" >

     <i id="btn-close-modal" class="bi bi-x btn-close-modal"></i>

    <form action="/vault/home/editBalance" method="POST" class="">
      <div class="form-control">
        <label for="">Saldo disponível:</label>
        <input type="number"  />
      </div>
      <div class="form-control">
        <label for="">Senha:</label>
        <input type="password" name="password" id="password" >
      </div>
      <input type="submit" value="Editar">
    </form>
  </div>
</div>